@model Project_Emp.Models.Employee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}




<style>
    .info-label {
        font-size: 1.25rem; /* Adjust font size as needed */
        font-weight: 600; /* Adjust font weight as needed */
    }
</style>




<div class="container my-5">
    <h1 class="text-center bg-success text-light p-3 rounded">
        HR PORTAL
    </h1>

    <h3 class="text-center bg-warning text-light p-2 rounded mb-4">
        Employee Full Details
    </h3>

    <div class="row mb-3">
        <div class="col-md-4">
            <div class="bg-info p-3 text-light rounded info-label">
                Employee ID
            </div>
        </div>
        <div class="col-md-8">
            <div class="bg-light p-3 rounded border">
                @Html.DisplayFor(model => model.id)
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <div class="bg-info p-3 text-light rounded info-label">
                Employee Email
            </div>
        </div>
        <div class="col-md-8">
            <div class="bg-light p-3 rounded border">
                @Html.DisplayFor(model => model.email)
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <div class="bg-info p-3 text-light rounded info-label">
                Employee City
            </div>
        </div>
        <div class="col-md-8">
            <div class="bg-light p-3 rounded border">
                @Html.DisplayFor(model => model.city)
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <div class="bg-info p-3 text-light rounded info-label">
                Employee Designation
            </div>
        </div>
        <div class="col-md-8">
            <div class="bg-light p-3 rounded border">
                @Html.DisplayFor(model => model.designation)
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4">
            <div class="bg-info p-3 text-light rounded info-label">
                Employee Salary
            </div>
        </div>
        <div class="col-md-8">
            <div class="bg-light p-3 rounded border">
                @Html.DisplayFor(model => model.salary)
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <a href="@Url.Action("Employee_List", "Employee")" class="btn btn-outline-warning">
                    Back To List
                </a>
            </div>
        </div>
        <div class="row justify-content-center mt-2">
            <div class="col-auto">
                <a href="@Url.Action("Index", "Employee")" class="btn btn-outline-success">
                    Back To Home
                </a>
            </div>
        </div>
    </div>

</div>
