@*@model Project_Emp.Models.Employee

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

@*<style>
    body {
        background-color: black;
    }

    .login-container {
        max-width: 900px;
        margin: 50px auto;
        background: white;
        border-radius: 20px;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        display: flex;
    }

    .login-image {
        background-color: #e0f7fa;
        padding: 30px;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .login-form {
        padding: 40px;
        flex: 1;
    }

        .login-form h2 {
            margin-bottom: 30px;
            font-weight: bold;
        }

        .login-form .form-control {
            margin-bottom: 20px;
            border-radius: 10px;
        }

        .login-form .btn-primary {
            background-color: #000;
            border: none;
            border-radius: 10px;
            padding: 10px 15px;
        }

        .login-form .forgot-password, .login-form .sign-up {
            font-size: 14px;
            color: #4CAF50;
        }

        .login-form .social-signin {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .login-form .social-signin img {
                width: 25px;
                margin-right: 10px;
            }

    .login-image img {
        width: 100%;
    }
</style>

        <div class="login-container">
            <div class="login-image">
                <img src="@Url.Content("~/prt.jpeg")" alt="Image Description" style="height: 380px;" />
            </div>

            <div class="login-form">
                <h2>USER LOGIN</h2>
           
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="">
                    </div>
                    <div class="d-flex justify-content-between">
                        <a href="#" class="forgot-password">Forgot password?</a>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Sign in</button>
                
                @*<div class="social-signin text-center">
                    <p>or</p>*@
                   
                    @*<p class="sign-up mt-3">Are you new?<a href="Login.aspx">Create an Account</a></p>*@
                @*</div>

            </div>
        </div>*@






@model Project_Emp.Models.User

@using (Html.BeginForm("Login", "Employee", FormMethod.Post))
{
   <section class="vh-100" style="background-color: black;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="@Url.Content("~/prt.jpeg")" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" /> 

               
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                {
                  @Html.AntiForgeryToken()
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <span class="h1 fw-bold mb-0">USER LOGIN</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                  <div class="form-outline mb-4">
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control form-control-lg" })
                    @Html.LabelFor(m => m.Username, new { @class = "form-label" })
                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                  </div>

                  <div class="form-outline mb-4">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-lg", id = "form2Example27" })
                    @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                  </div>
<div class="pt-1 mb-4 d-flex justify-content-between">
  <button type="submit" class="btn btn-dark btn-lg">Login</button>

    <a href="@Url.Action("Admin", "Employee")" class="btn btn-dark btn-lg">Admin Login</a>

</div>


                    
                  @*<a class="small text-muted" href="#!">Forgot password?</a>*@
                  @*<p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="#!" style="color: #393f81;">Register here</a></p>*@
                  <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

}
